header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff69b4;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

img[src="/images/profile-hex.png"] {
  position: relative;
  top: 50px;
}