header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff69b4;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.profile-pic {
  margin-top: 150px;
}

.profile-name {
  font: 36px Source Sans Pro, sans-serif;
}

@media (min-width: 1024px) {
  header {
    margin-left: 40px;
    margin-top: 180px;
  }
}