nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
}

span {
  font: 24px Bungee, serif;
  margin: 1.5em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-text {
  margin-top: 2.5em;
  margin-right: 1.5em;
}

.fa-angle-double-down {
  margin-right: 1.5em;
  color: hotpink;
}